<footer>
    <section class="footer-container">
    <section class="footer-row">
        
        <article class="footer-col">
            <h4>Navigation</h4>
            <ul>
                <li><a href="/search">Search</a></li>
                <li><a href="/home">Home</a></li>
                <% if (locals.isLoggedIn) { %>
                    <li><a href="/user/<%= locals.userName %>">Your Profile</a></li>
                    <li><a href="/auth/logout">Logout</a></li>
                <% } else { %>
                    <li><a href="/auth/login">Login</a></li>
                    <li><a href="/auth/register">Register</a></li>
                <% } %>
            </ul>
        </article>
        <article class="footer-col">
            <h4>Contact Us</h4>
            <ul>
                <li><a>Email: 19623300@std.stei.itb.ac.id</a></li>
                <li><a>Email: 19623276@std.stei.itb.ac.id</a></li>
                <li><a>Email: 19623005@std.stei.itb.ac.id</a></li>
                <li><a>Email: 13522100@std.stei.itb.ac.id</a></li>
                <li><a>Email: 19623308@std.stei.itb.ac.id</a></li>

            </ul>
        </article>
        <article class="footer-col">
            <h4>Follow Us</h4>
            <article class="social-links">
                <a href="https://github.com/Narrr21"><i class="fab fa-github"></i></a>
                <a href="https://github.com/bry-ho"><i class="fab fa-github"></i></a>
                <a href="https://github.com/carllix"><i class="fab fa-github"></i></a>
                <a href="https://github.com/hannoobz"><i class="fab fa-github"></i></a>
                <a href="https://github.com/ielita"><i class="fab fa-github"></i></a>
            </article>
        </article>
    </section>
    </section>
</footer>
