<header>
    <nav class="header-nav">
        <a class="header-title" href="/home">Home</a>
        <ul>
            <li id="search"><a href="/search">Search</a></li>
            <li><a href="/home">Home</a></li>
            <li><a href="/auth/login">Login</a></li>
            <li><a href="/auth/logout">Logout</a></li>
        </ul>
    </nav>
</header>