<header>
    <nav class="header-nav">
        <a class="header-title" href="/home">Home</a>
        <ul>
            <li id="search"><a href="/search">Search</a></li>
            <li><a href="/home">Home</a></li>
            <% if (locals.isLoggedIn) { %>
                
                <li><a href="/user/<%= locals.userName %>">Your Profile</a></li>
                <li><a href="/auth/logout">Logout</a></li>
            <% } else { %>
                <li><a href="/auth/login">Login</a></li>
                <li><a href="/auth/register">Register</a></li>
            <% } %>
        </ul>
    </nav>
</header>