<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kuliner</title>
    <link rel="stylesheet" href="/stylesheets/main.css">
</head>
<body>
    <main class="container">
        <%- include('../partials/header.ejs') %>
        <section class="inner-container">
            <%- body %>
        </section>
        <%- include('../partials/footer.ejs') %>
    </main>
</body>
</html>