@import 'shared/variables.css';
@import 'shared/fonts.css';
@import 'shared/header.css';
@import 'shared/buttons.css';
@import 'shared/footer.css';

:root {
    font-family: 'Gotham Rounded';
    font-size: 20px;
    color: var(--color-text-light);
}
  
*, *::before, *::after {
    box-sizing: border-box;
}
  
body {
    background: linear-gradient(to right, var(--color-background-dark), var(--color-background-light));
}

.container {
    max-width: 1200px;
    margin: auto;
    margin-bottom: 3rem;
}

.inner-container {
    margin: 0 2rem;
}

/* HOME */
/* index */
.home-container{
    position: relative;
    display: flex;
    flex-wrap: wrap;
}
.home-card{
    position: relative;
    width: 25%;
    border-radius: 5%;
    transition: 0.5s;  
}

.home-card a{
    position: absolute;
    width: 100%;
    height: 100%;
}

.home-card img{
    justify-self: center;
    width: 90%;
    padding: 5%;
    margin: 5%;
    height: auto;
    height: 12rem;
    border-radius: 10%;
}

.home-card-desc{
    justify-self: center;
    width: max-content;
    height: min-content;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    opacity: 0%;
    position: absolute;
}

.home-card-desc div{
    height: 50px;
    display: flex;
    width: 100%;
    justify-content: left;
}

.home-card-desc div label{
    justify-self: left;
    width: 40%;
}

.home-card-desc div p{
    margin: 0%;
    width: 60%;
    justify-content: center;
}

.home-card:hover{
    background-color: var(--color-background-dark);
    .home-card-desc{
        position: relative;
        opacity: 100%;
    }
}

/* Information */
.info-container{
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.info-data{
    display: flex;
    border-style: solid;
    width: 50%;
    align-items: center;
    padding: 2%;
    height: 400px;
}


.info-data img{
    width: 50%;
    height: 13rem;
    border-radius: 5%;
}

.info-comment{
    border-style: solid;
    width: 50%;
    padding: 2%;
    text-align: center;
    height: 400px;
}

.info-comment h2{
   margin : 0 0 20px;
}

.container-review{
    padding-right: 3%;
    height: 85%;
    overflow: auto;
}

.review{
    text-align: justify;
    font-size: 12px;
    line-height: 24px;
    background-color: var(--color-background-dark);
    padding: 2%;
    font-weight: 300;
    color: #ffff;
    border-radius: 8px;
    margin-bottom: 10px;
}

.review p{
    margin: 0;
}

.info-desc{
    justify-self: center;
    width: 50%;
    margin-left: 4%;
}

.info-desc div{
    height: 100%;
    display: flex;
    width: 100%;
    justify-content: left;
    margin: 16px 0;
}

.info-desc div label{
    justify-self: left;
    width: 40%;
    font-size: smaller;
}

.info-desc div p{
    margin: 0%;
    width: 60%;
    justify-content: center;
    font-size: smaller;
}

.user-comment{
    width: 100%;
    margin-top: 30px;
}

.user-comment-title{
    font-size: 28px;
    margin-bottom: 30px;
}
.user-comment-title p{
    display: inline;
}

.user-comment form{
    font-size: 17px;
}

.user-comment form h4{
    margin-top: 13px;
    margin-bottom: 10px;
}

.user-comment form textarea{
    width: 100%;
    padding: 7px;
    border-radius: 5px;
}

.user-comment form button{
    margin-top: 10px;
    font-size: 15px;
    padding: 8px 12px;
}

/* SEARCH */
/* index */
.search-input-text{
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.search-input-text label{
    width: 15%;
    margin-right: 5%;
    color: white;
    font-weight: bold;
    font-size: larger;
}
.search-input-text .search{
    height: 40px;
    width: 85%;
    padding: 0 10px;
    border-radius: 5px;
    border: 1px solid whitesmoke;
    outline: none;
}

.search-input-filter article{
    display: flex;
    height: min-content;
}
.search-input-filter label{
    width: 20%;
    align-self: center;
}
.search-input-filter p{
    align-self: center;
    margin-right: 2%;
}
/* display */
.search-display-container{
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.search-display-card{
    position: relative;
    width: 25%;
    border-radius: 5%;
    transition: 0.5s;
}

.search-display-card a{
    position: absolute;
    width: 100%;
    height: 100%;
}

.search-display-card img{
    justify-self: center;
    width: 90%;
    padding: 5%;
    margin: 5%;
    height: auto;
    height: 12rem;
    border-radius: 10%;
}

.search-display-desc{
    justify-self: center;
    width: max-content;
    height: min-content;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    opacity: 0%;
    position: absolute;
}

.search-display-desc div{
    height: 50px;
    display: flex;
    width: 100%;
    justify-content: left;
}

.search-display-desc div label{
    justify-self: left;
    width: 40%;
}

.search-display-desc div p{
    margin: 0%;
    width: 60%;
    justify-content: center;
}

.search-display-card:hover{
    background-color: var(--color-background-dark);
    .search-display-desc{
        position: relative;
        opacity: 100%;
    }
}

/* LOGIN */
/* index */
.login input{
    height: 40px;
    width: 85%;
    padding: 0 10px;
    border-radius: 5px;
    border: 1px solid whitesmoke;
    outline: none;
}
.login button{
    color: var(--color-btn-primary-text);
    background-color: var(--color-btn-primary-background);
}

.login button:hover{
    color: var(--color-btn-primary-text-dark);
    background-color: var(--color-btn-primary-background-dark);
}

/* REGISTER */
/* index */

.register input{
    height: 40px;
    width: 85%;
    padding: 0 10px;
    border-radius: 5px;
    border: 1px solid whitesmoke;
    outline: none;
}
.register button{
    color: var(--color-btn-primary-text);
    background-color: var(--color-btn-primary-background);
}

.register button:hover{
    color: var(--color-btn-primary-text-dark);
    background-color: var(--color-btn-primary-background-dark);
}

/* USER */
/* index */
.user-container {
    display: flex;
}
.user-data{
    border-style: solid;
    width: 30%;
}

.user-data img{
    padding: 5%;
    width: 100%;
    border-radius: 10%;
}

.user-data h3{
    padding: 0 5%;
    text-align: center;
}
.user-data .bio {
    text-align: center;
    padding: 0 5% 5%;
}
.user-data form{
    width: 70%;
    margin-left: 15%;
    margin-bottom: 20px;
}
.user-data button{
    width: 100%;
}

.user-review-data{
    display: flex;
}
.user-review-data img{
    width: 30%;
    padding: 3%;
}
.user-review-desc{
    width: 68%;
    margin-left: 2%;
}
.user-review{
    border-style: solid;
    width: 70%;
}
.user-total-review {
    width: 100%;
    text-align: center;
}
/* edit */
.user-edit {
    display: flex;
    flex-wrap: wrap;
}
.user-edit h3{
    text-align: center;
}

.edit-picture{
    width: 50%;
    border-style: solid;
}

#edit-img-upload{
    margin: 5%;
}

.edit-picture img{
    width: 100%;
    padding: 5%;
    border-radius: 10%;
}

.edit-bio{
    width: 50%;
    border-style: solid;
}

.edit-bio textarea{
    width: 90%;
    height: 50%;
    margin: 5%;
    padding: 2%;
}
.edit-bio button{
    width: 20%;
    margin-left: 40%;
}