<% for (let i = 0; i < data.length; i++) {%>
    <ul>
        <li><%= data[i]["kulinerId"]%></li>
        <li><%= data[i]["foodName"]%></li>
        <li><%= data[i]["rating"]%></li>
    </ul>
    <br>
<% } %>
<p><%= search %></p>