<h2>Search</h2>
<form action="/search" method="post">
    <section class="search-input-text">
        <label>Search: </label>
        <input class="search" type="text" name="search">
    </section>
    <section class="search-input-filter">
        <article class="search-filter-searchBy">
            <input type="radio" name="searchBy" value="foodName">nama
            <input type="radio" name="searchBy" value="kulinerId">id
            <input type="radio" name="searchBy" value="rating">rating
        </article>
        <article class="search-filter-type">
            <input type="radio" name="foodOrDrink" value="makanan">makanan
            <input type="radio" name="foodOrDrink" value="minuman">minuman
        </article>
        <article class="search-filter-sortBy">
            <input type="radio" name="sortBy" value="kulinerId">default
            <input type="radio" name="sortBy" value="rating">rating
            <input type="radio" name="sortBy" value="foodName">nama
        </article>
    </section>
  <button class="btn-primary" type="reset">Reset</button>
  <button class="btn-primary" type="submit">Search</button>
</form>
