<section class="home-container">
    <% for (let i = 0; i < data.length; i++) {%>
        <article class="home-card">
            <img src="<%= data[i]["images"]%>">
            <div class="home-card-desc">
                <div>
                    <label>id </label>
                    <p>: <%= data[i]["hostId"]%></p>
                </div>
                <div>
                    <label>Nama </label>
                    <p>: <%= data[i]["hostName"]%></p>
                </div>
                <div>
                    <label>Rating </label>
                    <p>: <%= data[i]["rating"]%></p>
                </div>
            </div>
        </article>
    <% } %>
</section>